node_modules/
.husky
package-lock.json
.prettierignore
.prettierrc.json
husky.config.js
lint-staged.config.js
package-lock.json

client/node_modules/
client/public/
client/package-lock.json
client/package.json
client/dist

server/node_modules/
server/package-lock.json
server/package.json